nav {
    display: flex;           
    justify-content: center; 
    margin: 1rem 0;          
  }
  
  nav ul {
    align-items: center;     
    list-style: none;        
    display: flex;           
    gap: 5rem;               
  }
  
  nav a {
    text-decoration: none;   
    color: white;
    font-size: 2rem;
    font-weight: bold;    
  }
  